<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="StockmannConfig" value="server=michelle-pc;Trusted_Connection=yes;database=stockmann;"/>
    <add key="makeOnStartBackups" value="1"/>
    <add key="levensteinTolerance" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="Stockman.Properties.Settings.stockmannConnectionString"
      connectionString="Data Source=MICHELLE-PC;Initial Catalog=stockmann;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
